*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif; }

.container {
  max-width: 120rem; }

.active {
  background-color: #fff !important; }

.heading-3 {
  font-size: 6rem;
  font-weight: bold; }

.carusel {
  filter: brightness(115%);
  background: url("../images/main-bg.png");
  background-position: cover;
  min-height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .carusel__logo {
    position: absolute;
    top: 5rem;
    left: 10vw; }
  .carusel__box {
    color: #fff;
    transform: translateX(40%); }
  .carusel__heading {
    font-size: 22rem;
    font-weight: 100;
    text-transform: uppercase; }
  .carusel__text {
    font-size: 6.4rem;
    font-weight: bold;
    letter-spacing: .15rem; }
  .carusel__selectors {
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
  .carusel__circle {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #000;
    margin: 0 2rem;
    border-radius: 50%; }

.about {
  padding: 9rem 0; }
  .about__heading {
    font-weight: 100;
    font-size: 6rem;
    text-align: center; }
  .about__copyright {
    padding: 5rem 0; }
  .about__copy {
    font-size: 2rem;
    text-align: center;
    font-weight: 400; }
  .about__hr {
    width: 10rem;
    margin: 0 auto; }
  .about__text {
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    padding: 5rem 20rem; }
  .about__text:last-child {
    padding-top: 0; }

.quotes__content {
  background-color: #ffddd5; }

.quotes__quote {
  font-size: 3.6rem;
  line-height: 1.6; }

.quotes__img {
  width: 100%;
  display: block; }
