.btn,
.btn:link, 
.btn:active
{
    display: inline-block;
    text-decoration: none;
    padding: .8rem 3rem;
    border: 2px solid $color-black;
    font-size: 2rem;
    letter-spacing: 1px;
    color: $color-black;
    border-radius: 4px; 
    text-transform: uppercase;
    font-weight: 700;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}