.reasons{
    padding: 0 10rem;
    &__hr{
        margin-top: 3rem;
        width: 10rem;
        margin-bottom: 10rem;
    }

    &-box{
        display: flex;
        flex-flow: wrap;
        margin-bottom: 5rem;
        &__content{
            flex: 0 0 50%;
            border: 2px solid $color-border;
            padding: 4.5rem;

            &--1{
                border-right: 0;
                border-bottom: 0;
            }

            &--3{
                border-right: 0;
            }

            &--2{
                border-bottom: 0;
            }
        }

        &__text{
            font-size: 1.8rem;
            padding: 5rem 0;
        }   

        &__author{
            font-style: italic;
            font-size: 1.6rem;
        }
    }
}  